#spring{
    margin-left: 5pxl;
}
 
#flame{
    
    color: rgb(255, 94, 0);
}

#hash1{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#hash2{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#hash3{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#hash4{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}